<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Калькулятор</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="calculator">
    <form method="POST" action="/">
      
      <input type="text" name="expression" id="display" readonly value="{{ expression or '0' }}" />
      
      <div id="buttons">
        <button type="button">7</button><button type="button">8</button><button type="button">9</button><button type="button">/</button>
        <button type="button">4</button><button type="button">5</button><button type="button">6</button><button type="button">*</button>
        <button type="button">1</button><button type="button">2</button><button type="button">3</button><button type="button">-</button>
        <button type="submit">=</button><button type="button">0</button><button type="button">.</button><button type="button">+</button>
        <button type="button" id="clear">AC</button>
      </div>
    </form>

    {% if result %}
      <h2>Результат: {{ result }}</h2>
    {% endif %}

    <a href="{{ url_for('history') }}">История операций</a>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
